{% extends '::base.html.twig' %}
{% block banner %}
    <img src="{{ asset('bundles/presisgeneral/images/titretiros1680.jpg') }}" class="img-responsive" width="100%"/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        body { font-size: 140%; }
        .glyphicon-ok {
            color: green;
        }
        /* Red X. */
        .glyphicon-remove {
            color: red;
        }
        tbody{
            font-family: Raleway;
            font-size: 14px;
        }
        td.details-control {
            background-image: url('/voucher/web/bundles/presisretiro/images/details_open.png');
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
        tr.shown td.details-control {
            background-image: url('/voucher/web/bundles/presisretiro/images/details_close.png');
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
    </style>
{% endblock %}
{%  block contenido %}

    <div class="container container-round">
       <form class="form-inline">
           <div class="form-group">
               <label for="min">Fecha Retiro Desde:</label>
               <input type="text" class="form-control" id="min" name="min">  
               <label for="max">Fecha Retiro Hasta:</label>
               <input type="text" class="form-control" id="max" name="max">  
               <input class="btn btn-success" type="button" id="print" value="Imprimir Selección">
               <input class="btn btn-danger" type="button" id="printp" value="Imprimir Pendientes">
       </div>  
      </fom>    
   </div>
   <br />
   <!--<div id="table">
    <table border="0" cellspacing="5" cellpadding="5">
        <tbody><tr>
            <td>Fecha Retiro Desde:</td>
            <td><input type="text" id="min" name="min"></td>
        </tr>
        <tr>
            <td>Fecha Retiro Hasta:</td>
            <td><input type="text" id="max" name="max"></td>
        </tr>
        <tr>
            <td><input class="btn btn-success" type="button" id="print" value="Imprimir Selección"></td>
            <td><input class="btn btn-danger" type="button" id="printp" value="Imprimir Pendientes"></td>
        </tr>

        </tbody></table>
       <p>

       </p>-->
       <table id="table_retiro" class="table table-striped table-bordered table-hover" cellpadding="0" cellspacing="0" width="100%">
           <thead style="background-color: #b80614; color:white; ">
            <tr>
                <th></th>
                <th>Fecha</th>
                <th>Tracking</th>
                <th>Empresa</th>
                <th>Servicio</th>
                <th>Precio</th>
                <th>Peso(Kg)</th>
                <!--<th>Destinatario</th>-->
                <!--<th>Calle</th>-->
                <!--<th>Altura</th>-->
                <!--<th>Piso</th>-->
                <!--<th>Dpto</th>-->
                <!--<th>Cp</th>-->
                <th>Pend.</th>
                <th>Acciones</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
    </table>
   </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>

        $.fn.dataTableExt.afnFiltering.push(
                function( oSettings, aData, iDataIndex ) {
                    var iFini = document.getElementById('min').value;
                    var iFfin = document.getElementById('max').value;
                    var iStartDateCol =0;
                    var iEndDateCol = 0;

                    iFini=iFini.substring(6,10) + iFini.substring(3,5)+ iFini.substring(0,2);
                    iFfin=iFfin.substring(6,10) + iFfin.substring(3,5)+ iFfin.substring(0,2);

                    var datofini=aData[iStartDateCol].substring(6,10) + aData[iStartDateCol].substring(3,5)+ aData[iStartDateCol].substring(0,2);
                    var datoffin=aData[iEndDateCol].substring(6,10) + aData[iEndDateCol].substring(3,5)+ aData[iEndDateCol].substring(0,2);

                    if ( iFini === "" && iFfin === "" )
                    {
                        return true;
                    }
                    else if ( iFini <= datofini && iFfin >= datoffin)
                    {
                        return true;
                    }

                    return false;
                }
        );
        var table;
        
        /* Formatting function for row details - modify as you need */
function format ( d ) {
    // `d` is the original data object for the row
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<td>Full name:</td>'+
            '<td>'+d.fechHora+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Extension number:</td>'+
            '<td>'+d.empresa+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Extra info:</td>'+
            '<td>And any further details here (images etc)...</td>'+
        '</tr>'+
    '</table>';
}
        
        $(document).ready( function () {
            


            jQuery.extend( jQuery.fn.dataTableExt.oSort, {
                "date-euro-pre": function ( a ) {
                    var x;

                    if ( $.trim(a) !== '' ) {
                        var frDatea = $.trim(a).split(' ');
                        var frTimea = frDatea[1].split(':');
                        var frDatea2 = frDatea[0].split('/');
                        x = (frDatea2[2] + frDatea2[1] + frDatea2[0] + frTimea[0] + frTimea[1] + frTimea[2]) * 1;
                    }
                    else {
                        x = Infinity;
                    }

                    return x;
                },

                "date-euro-asc": function ( a, b ) {
                    return a - b;
                },

                "date-euro-desc": function ( a, b ) {
                    return b - a;
                }
            } );

            // Event listener to the two range filtering inputs to redraw on input

             table=$('#table_retiro').DataTable({
                "dom": 'T<"clear">lfrtip',
                /*"scrollY":        "350px",
                "scrollCollapse": true,
                "paging":         false,*/
                "order": [[ 1, "desc" ]],
                tableTools: {
                    "sSwfPath": "{{ asset('bundles/presisgeneral/css/copy_csv_xls_pdf.swf') }}"
                },
                "ajax":Routing.generate("retiro_ajax"),
                "language": {
                    "url": "http://cdn.datatables.net/plug-ins/a5734b29083/i18n/Spanish.json"
                },
                "columnDefs": [ {
                    "targets": 8,
                    "data": "id",
                    "render": function ( data, type, full, meta ) {
                        var ids2=[];
                        ids2.push(data);
                        return "<a href="+Routing.generate('retiro_showdupl',{ids:ids2} )+" target='_blank'><i class='fa fa-print fa-2x' </a>";
                    }
                },
                    {
                        "render": function (data, type, row) {
                            return (data === false) ? '<span class="glyphicon glyphicon-ok"></span>' : '<span class="glyphicon glyphicon-remove"></span>';
                        }
                    },
                    {
                    "targets": 9,
                    "data": "id",
                    "render": function ( data, type, full, meta ) {
                        var ids2=[];
                        ids2.push(data)
                        return '<input class=\"checky\" type=\"checkbox\" value="' + data + '">';
                    }
                } ],

                "columns": [
                    {"className":      'details-control',
                    "orderable":      false,
                    "data":           null,
                    "defaultContent": ''},
                    { "data": "fechHora", "type":"date-euro",targets: 0 },
                    { "data": "id" },
                    { "data": "empresa","defaultContent":"N/A" },
                    {"data":"descripcion","defaultContent":"N/A"},
                    {"data":"precio"},
                    {"data":"peso"},
                    {"data":"impreso","defaultContent":"N/A"}
                    /*{"data" :"fechHora",
                        "type":"date-euro",targets: 0
                    },
                    {"data":"id"},
                    {"data":"empresa",
                        "defaultContent":"N/A"
                    },
                    {"data":"descripcion",
                        "defaultContent":"N/A"
                    },
                    {"data":"precio"},
                    {"data":"peso"},
                    {"data":"apenom"},
                    {"data":"calle",
                        "defaultContent":"N/A"
                    },
                    {"data":"altura",
                        "defaultContent":"N/A"
                    },
                    {"data":"piso",
                        "defaultContent":"N/A"
                    },
                    {"data":"dpto",
                        "defaultContent":"N/A"
                    },
                    {"data":"cp",
                        "defaultContent":"N/A"
                    },
                    {"data":"impreso",
                        "defaultContent":"N/A"
                    }*/
                ]

            });
            
            // Add event listener for opening and closing details
    $('#table_retiro tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child( format(row.data()) ).show();
                tr.addClass('shown');
            }
        } );

            $('#min').keyup( function() { table.draw(); } );
            $('#max').keyup( function() { table.draw(); } );
            $(function() {
                $( "#min" ).datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: "dd-mm-yy",
                    onClose: function( selectedDate ) {
                        $( "#max" ).datepicker( "option", "minDate", selectedDate );
                        table.draw();
                    }
                });

                $( "#max" ).datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: "dd-mm-yy   ",
                    onClose: function( selectedDate ) {
                        $( "#min" ).datepicker( "option", "maxDate", selectedDate );
                        table.draw();
                    }

                });
            });
        } );
        $.datepicker.regional['es'] = {
            closeText: 'Cerrar',
            prevText: '<Ant',
            nextText: 'Sig>',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
            dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['es']);
            $('#min').keyup( function() { table.draw(); } );
            $('#max').keyup( function() { table.draw(); } );
            $(function() {
                $( "#min" ).datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: "dd-mm-yy",
                    onClose: function( selectedDate ) {
                        $( "#max" ).datepicker( "option", "minDate", selectedDate );
                        table.draw();
                    }
                });

                $( "#max" ).datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: "dd-mm-yy   ",
                    onClose: function( selectedDate ) {
                        $( "#min" ).datepicker( "option", "maxDate", selectedDate );
                        table.draw();
                    }

                });
            });




        $('#table_retiro').on( 'click', '.checky', function () {

            $(this).parent().parent().toggleClass('success');

        } );

        $('#print').click( function () {
            var ids=[];
            var cant=table.rows('.success').data().length;
            table.rows('.success').indexes().each( function (idx) {
                var d = table.row( idx ).data();
                ids.push(d.id);

            } );
            window.open( Routing.generate("retiro_showdupl",{'ids':ids}))
        } );
        $('#printp').click( function () {

            window.open( Routing.generate("retiro_showpendientes"))
        } );

    </script>
{% endblock %}