{% extends '::base.html.twig' %}
{% block banner %}
{% endblock %}
{%  block contenido %}
    <div class="container-fluid">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="nroRendicion" class="col-sm-1 control-label">Rendicion</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-sm" id="nroRendicion" name="nroRendicion" >
                </div>
                <label for="desde" class="col-sm-1 control-label">Fecha</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-sm date-picker" id="desde" name="desde" >
                </div>
                <label for="hasta" class="col-sm-1 control-label">Hasta</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-sm date-picker" id="hasta" name="hasta" >
                </div>
                <label for="cliente" class="col-sm-1 control-label">Cliente</label>
                <div class="col-sm-2">
                    <select class="form-control input-sm" id="cliente" name="cliente" >
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="container-fluid">
        <div id="toolbar">
            <div class="col-lg-2">
                <select class="form-control">
                    <option value="">Export Basic</option>
                    <option value="all">Export All</option>
                    <option value="selected">Export Selected</option>
                </select>
            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-success btn-sm" id="btBuscar">BUSCAR RENDICIONES</button>
            </div>
        </div>
        <table id="retiros" class="ret"
               data-toggle="table"
               data-show-export="true"
               data-click-to-select="true"
               data-toolbar="#toolbar"
               data-height="400"
               data-side-pagination="server"
               data-pagination="true"
               data-page-list="[5, 10, 20, 50, 100, 200]"
               data-show-columns="true">
            <thead>
            <tr>
                <th data-field="id" >Id</th><!--1-->
                <th data-field="fecha">Fecha</th>
                <th data-field="cerrada" data-formatter="cerrada">Cerrada</th>
                <th data-field="cliente" >Cliente</th>
                <th data-field="detalles"  >Detalles</th>
                <th data-field="editar" data-formatter="editar">Editar</th>
            </tr>
            </thead>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/readonly.js') }}"></script>
    <script src="{{ asset('bundles/presisgeneral/js/jquery.fileDownload.js') }}"></script>

    <script type="text/javascript">

        var $table = $("#retiros");

        var $pagina = 0;
        var $limite = 10;

        $(function () {
            buildTable($table, 20, 20);
            $('#fixedNumber').change(function () {
                buildTable($table, 20, 20);
            });
        });

        function buildTable($el, cells, rows) {
            $el.bootstrapTable('destroy').bootstrapTable({
                toolbar: '.toolbar'
            });
        }

        $(function () {
            $('#toolbar').find('select').change(function () {
                $table.bootstrapTable('destroy').bootstrapTable({
                    exportDataType: $(this).val()
                });
            });
        })

        function cerrada(val,row){
            var $icon = (row.cerrada)?"fa-check-square-o":"fa-square-o";
            return "<i class='" + $icon + " fa fa-2x' style='width: 100%;text-align:center'></i>";
        }

        function editar(value,row){
            return "<a href="+Routing.generate('rendicion_edit',{id:row.id} )+"><i class='fa fa-pencil-square-o fa-2x'></i> </a>";
        }

        $(document).ready(function () {

            var $table = $('#retiros');
            $table.bootstrapTable()
                    .on('page-change.bs.table', function (event, page, limit) {
                        $pagina = page - 1;
                        $limite = limit;
                        buscarRendicion();
                    });

            buscarClientes();

            function getIdSelection() {
                return $.map($table.bootstrapTable('getSelections'), function (row) {
                    return row.id;
                });
            }

            $("#btBuscar").click(function(){
                buscarRendicion();
            });

            var obtenerParametrosBusqueda = function() {
                var $desde = $("#desde").val();
                var $hasta = $("#hasta").val();
                var $cliente = $("#cliente").val();
                var $nroRendicion = $("#nroRendicion").val();
                if($.trim($desde)!='' && $.trim($hasta)==''){
                    $("#hasta").val($desde);
                    $hasta = $desde;
                }

                return {desde: $desde, hasta: $hasta, cliente: $cliente, nroRendicion: $nroRendicion,
                    pagina: $pagina, limite: $limite};
            };

            var buscarRendicion = function(){
                $.blockUI({message: "<h3>Buscando datos...</h3>"});
                $.ajax({
                    type: "POST",
                    url: Routing.generate('rendicion_asajax'),
                    data: obtenerParametrosBusqueda(),
                    success: function(data, dataType)
                    {
                        var data = JSON.parse(data);
                        $table.bootstrapTable('load', data);
                        $.unblockUI();
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown)
                    {
                        alert('Error : ' + errorThrown);
                    }
                });
            };
        });

        function buscarClientes(){
            $.ajax({
                type: "POST",
                url: Routing.generate('cliente_ajax4select'),
                data: "",
                dataType: 'json',
                success: function (data) {
                    $("#cliente").empty();
                    $("#cliente").append('<option value=""></option>');
                    $.each(data, function(id,value){
                        $("#cliente").append('<option value="'+value.id+'">'+value.empresa+'</option>');
                    });
                }
            });
        }

    </script>
{% endblock %}