{% extends '::base.html.twig' %}
{% block banner %}
{% endblock %}
{% block contenido %}
    <div class="container container-round">

        {{ form_start(form) }}
        <fieldset>
            <legend>Editar Estado</legend>

            {{ include('@Estado/Estado/estado-fields.part.html.twig') }}

        </fieldset>

        {{ form_end(form) }}
        {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
    </div>
{% endblock %}