{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        body { font-size: 140%; }
    </style>
{% endblock %}
{% block banner %}
{% endblock %}
    {%  block contenido %}
        <table id="table_usuarios" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Sucursal</th>
                <th>Usuario</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Cliente</th>
                <th>Vendedor</th>
                <th>Admin</th>
                <th>Acciones</th>

            </tr>
            </thead>

        </table>

    {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>

        $(document).ready( function () {
            $('#table_usuarios').DataTable({
                "dom": 'T<"clear">lfrtip',
                "responsive": true,
                "tableTools": {
                    "sSwfPath": "{{ asset('bundles/presisgeneral/css/copy_csv_xls_pdf.swf') }}"
                },
                "ajax":Routing.generate("user_ajax"),
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/a5734b29083/i18n/Spanish.json"
                },
                "columnDefs": [{
                    "targets": 7,
                    "data": "id",
                    "render": function (data, type, full, meta) {
                        return "<a href=" + Routing.generate('user_edit', {id: data}) + "><i class='fa fa-pencil-square-o fa-2x' title='Editar registro'></i> </a><a href=" + Routing.generate('user_show', {id: data}) + "><i class='fa fa-eye fa-2x' title='Ver detalles'></i></a>";

                    }
                },
                    {
                        "targets": 6,
                        "data": "userAdmin",
                        "render": function (data, type, row) {
                            return (data === false) ? '<span class="glyphicon glyphicon-remove"></span>' : '<span class="glyphicon glyphicon-ok"></span>';
                        },

                } ],
                "columns": [
                    {
                        "data":"descripcion",
                        "defaultContent": "N/A"
                    },
                    {"data":"username"},
                    {
                        "data":"email",
                        "defaultContent": "N/A",
                        "target":2
                    },
                    {"data":"roles","target":3},
                    {
                        "data":"empresa",
                        "defaultContent": "N/A",
                        "target":4
                    },
                    {
                        "data":"nombre",
                        "defaultContent": "N/A",
                        "target":5
                    },
                ]

            });
        } );

    </script>

{% endblock %}